{{ block style }}
   <link rel="stylesheet" type="text/css" href="{{ static 'global/global_styles.css' }}"/>
{{ endblock }}

{{ block title }}
    <div class="narrow-body">
        Example Decisions
    </div>
{{ endblock }}

{{ block content }}
<div class="narrow-body">

{{ if treatment == 'M' }}

    <p>
        <b>Three examples</b> illustrate how the tokens moved to the Group Account are related to the values of the
        Individual Account and Group Account. For each example, we show how the value of the Individual and Group
        Account change in a corresponding table.
    </p>

    <ul>
        <li><i>Example A:</i> If a person subtracts 5 tokens from the Group Account, that increases the value of
            their own Individual Account by 5 ECUs and reduces the value of the Group Account by
            <span class="math">5 &times; 3 = 15</span> ECUs.</li>
        <li><i>Example B:</i> If a person adds 0 tokens to the Group Account, that reduces the value of their
            Individual Account by 0 ECU and adds <span class="math">0 &times; 3 = 0</span> ECUs to the value
            of the Group Account.</li>
        <li><i>Example C:</i> If a person adds 5 tokens to the Group Account, that reduces the value of their
            Individual Account by 5 ECUs and adds <span class="math">5 &times; 3 = 15</span> ECUs to the value
            of the Group Account.</li>
    </ul>

    <table class="example-table">
        <tr>
            <th class="example-table-header" rowspan="2">Example</th>
            <th class="example-table-header" colspan="1">Decision</th>
            <th class="example-table-header" colspan="2">Change in Value (ECUs)</th>
        </tr>
        <tr>
            <th class="example-table-header">Tokens Moved</th>
            <th class="example-table-header">Individual Account</th>
            <th class="example-table-header">Group Account</th>
        </tr>
        <tr>
            <td class="row-light">A</td>
            <td class="row-white">0</td>
            <td class="row-white">0</td>
            <td class="row-white">0</td>
        </tr>
        <tr>
            <td class="row-light">B</td>
            <td class="row-white">5</td>
            <td class="row-white">-5</td>
            <td class="row-white">+15</td>
        </tr>
        <tr>
            <td class="row-light">C</td>
            <td class="row-white">10</td>
            <td class="row-white">-10</td>
            <td class="row-white">+30</td>
        </tr>
    </table>
    <br>
    <p>
        After you make your decisions, you will be informed of the starting group account, which of your decisions
        is played, the value of your Individual Account and the Group Account, and your final earnings. You will be
        paid in U.S. dollars using a conversion rate for $1 for every
        {{exchange_rate}} ECU{{if exchange_rate != 1}} 's {{endif}} of earnings from the experiment. Your total
        earnings will be the final value of tokens (in ECUs) in your own Individual Account from both your selected
        decision and one-fourth of the final value of tokens in the Group Account (in ECUs).
    </p>

{{ endif }}

{{ if treatment == 'P' }}
    <p>
        <b>Three examples</b> illustrate how the tokens moved to the Group Account are related to the values of
        the Individual Account and Group Account. For each example, we show how the value of the Individual and
        Group Account change in a corresponding table.
    </p>

    <ul>
        <li><i>Example A:</i> If a person adds 0 tokens to the Group Account, that reduces the value of their
            Individual Account by 0 ECUs and adds <span class="math">0 &times; 3 = 0</span> ECUs to the value
            of the Group Account.</li>
        <li><i>Example B:</i> If a person adds 5 tokens to the Group Account, that reduces the value of their
            Individual Account by 5 ECUs and adds <span class="math">5 &times; 3 = 15</span> ECUs to the value
            of the Group Account.</li>
        <li><i>Example C:</i> If a person adds 10 tokens to the Group Account, that reduces the value of their
            Individual Account by 10 ECUs and adds <span class="math">10 &times; 3 = 30</span> ECUs to the value
            of the Group Account.</li>
    </ul>

    <table class="example-table">
        <tr>
            <th class="example-table-header" rowspan="2">Example</th>
            <th class="example-table-header" colspan="1">Decision</th>
            <th class="example-table-header" colspan="2">Change in Value (ECUs)</th>
        </tr>
        <tr>
            <th class="example-table-header">Tokens Moved</th>
            <th class="example-table-header">Individual Account</th>
            <th class="example-table-header">Group Account</th>
        </tr>
        <tr>
            <td class="row-light">D</td>
            <td class="row-white">5 Tokens moved from the Group Account</td>
            <td class="row-white">+5</td>
            <td class="row-white">-15</td>
        </tr>
        <tr>
            <td class="row-light">E</td>
            <td class="row-white">0 Tokens moved</td>
            <td class="row-white">+0</td>
            <td class="row-white">+0</td>
        </tr>
        <tr>
            <td class="row-light">F</td>
            <td class="row-white">5 Tokens moved to the Group Account</td>
            <td class="row-white">-5</td>
            <td class="row-white">+15</td>
        </tr>
    </table>
        <br>
    <p>
        After you make your decisions, you will be informed of the value of your Individual Account and the Group
        Account, and your final earnings. You will be paid in U.S. dollars using a conversion rate for $1 for every
        {{exchange_rate}} ECU{{if exchange_rate != 1}} 's {{endif}} of earnings from the experiment. Your total
        earnings will be the final value of tokens (in ECUs) in your own Individual Account from both your selected
        decision and one-fourth of the final value of tokens in the Group Account (in ECUs).
    </p>

{{ endif }}

{{ if treatment == 'PM' }}
    <p>
        <b>Three examples</b> illustrate how the tokens moved to the Group Account are related to the values of the
        Individual Account and Group Account. For each example, we show how the value of the Individual and Group
        Account change in a corresponding table.
    </p>

    <b>Decision 1</b>
    <ul>
        <li><i>Example A:</i> If a person adds 0 tokens to the Group Account, that reduces the value of their
            Individual Account by 0 ECUs and adds <span class="math">0 &times; 3 = 0</span> ECUs to the value
            of the Group Account.</li>
        <li><i>Example B:</i> If a person adds 5 tokens to the Group Account, that reduces the value of their
            Individual Account by 5 ECUs and adds <span class="math">5 &times; 3 = 15</span> ECUs to the value
            of the Group Account.</li>
        <li><i>Example C:</i> If a person adds 10 tokens to the Group Account, that reduces the value of their
            Individual Account by 10 ECUs and adds <span class="math">10 &times; 3 = 30</span> ECUs to the value
            of the Group Account.</li>
    </ul>

    <table class="example-table">
        <tr>
            <th class="example-table-header" rowspan="2">Example</th>
            <th class="example-table-header" colspan="1">Decision 1</th>
            <th class="example-table-header" colspan="2">Change in Value (ECUs)</th>
        </tr>
        <tr>
            <th class="example-table-header">Tokens Moved</th>
            <th class="example-table-header">Individual Account</th>
            <th class="example-table-header">Group Account</th>
        </tr>
        <tr>
            <td class="row-light">A</td>
            <td class="row-white">0</td>
            <td class="row-white">0</td>
            <td class="row-white">0</td>
        </tr>
        <tr>
            <td class="row-light">B</td>
            <td class="row-white">5</td>
            <td class="row-white">-5</td>
            <td class="row-white">+15</td>
        </tr>
        <tr>
            <td class="row-light">C</td>
            <td class="row-white">10</td>
            <td class="row-white">-10</td>
            <td class="row-white">+30</td>
        </tr>
    </table>
        <br>
    <b>Decision 2</b>
    <ul>
        <li><i>Example D:</i> If a person subtracts 5 tokens from the Group Account, that increases the value of
            their own Individual Account by 5 ECUs and reduces the value of the Group Account by
            <span class="math">5 &times; 3 = 15</span> ECUs.</li>
        <li><i>Example E:</i> If a person adds 0 tokens to the Group Account, that reduces the value of their
            Individual Account by 0 ECU and adds 0 ECU to the value of the Group Account.</li>
        <li><i>Example F:</i> If a person adds 5 tokens to the Group Account, that reduces the value of their
            Individual Account by 5 ECUs and adds <span class="math">5 &times; 3 = 15</span> ECUs to the value
            of the Group Account.</li>
    </ul>

    <table class="example-table">
        <tr>
            <th class="example-table-header" rowspan="2">Example</th>
            <th class="example-table-header" colspan="1">Decision 2</th>
            <th class="example-table-header" colspan="2">Change in Value (ECUs)</th>
        </tr>
        <tr>
            <th class="example-table-header">Tokens Moved</th>
            <th class="example-table-header">Individual Account</th>
            <th class="example-table-header">Group Account</th>
        </tr>
        <tr>
            <td class="row-light">D</td>
            <td class="row-white">5 Tokens moved from the Group Account</td>
            <td class="row-white">+5</td>
            <td class="row-white">-15</td>
        </tr>
        <tr>
            <td class="row-light">E</td>
            <td class="row-white">0 Tokens moved</td>
            <td class="row-white">+0</td>
            <td class="row-white">+0</td>
        </tr>
        <tr>
            <td class="row-light">F</td>
            <td class="row-white">5 Tokens moved to the Group Account</td>
            <td class="row-white">-5</td>
            <td class="row-white">+15</td>
        </tr>
    </table>
    <br>
    <p>
        After Decision 2, you will be informed of the average Decision 1, and which of your decisions is played in
        Decision 2, the value of your Individual Account and the Group Account, and your final earnings. You will
        be paid in U.S. dollars using a conversion rate for $1 for every
        {{exchange_rate}} ECU{{if exchange_rate != 1}} 's {{endif}} of earning from the experiment. Your total
        earnings will be the final value of tokens (in ECUs) in your own Individual Account from both Decision 1
        and Decision 2 plus one-fourth of the final value of tokens in the Group Account (in ECUs).
    </p>
{{ endif }}

<p>
    Once you are sure that you understand these instructions, <b>click</b> on the Finished Reading Instructions
    box in the upper left corner of your monitor screen to signal that you are ready to make your decisions.
</p>

{{ next_button }}
</div>
{{ endblock }}
