{{ block style }}
   <link rel="stylesheet" type="text/css" href="{{ static 'global/nouislider.css' }}"/>
   <link rel="stylesheet" type="text/css" href="{{ static 'global/global_styles.css' }}"/>
{{ endblock }}

{{ block title }}
    {% if treatment == 'M' %}
        Decision Page
    {% endif %}
    {% if treatment == 'PM' %}
        Decision 2
    {% endif %}
{{ endblock }}

{{ block content }}
<body>
    <div class="instructions">
      Use the sliders to select your Decision{% if treatment == 'PM' %} 2{% endif %} below for each potential
      balance of the Group Account.
      <br>
        <b>Remember:</b>
        <ul id="remember-list">
          <li><span class="tokens">Tokens</span> are worth <span class="ecu">3 ECUs</span> in the <b>Group Account</b> (0.75 ECUs per group member)</li>
          <li><span class="tokens">Tokens</span> are worth <span class="ecu">1 ECU</span> in your <b>Individual Account</b></li>
        </ul>
    </div>
  <table class="tg">
    <thead>
      <tr>
        {% if treatment == 'PM' %}
        <th class="decision-2-header">Average Decision 1 of <br> Other Group Members</th>
        {% endif %}

        {% if treatment == 'M' %}
        <th class="decision-2-header">Random Number Drawn</th>
        {% endif %}

        <th class="decision-2-header">Group Account <br>Starting Balance</th>
        <th >
          <span class="decision-2-header">Your Decision{% if treatment == 'PM' %} 2{% endif %}:</span>
          <br>
          <span style="font-size:16pt;font-weight:bold;">Move Tokens to or from the Group Account</span>
        </th>
      </tr>
      <tr>
      </tr>
    </thead>
    <tbody>
      {% for i in range(0,11) %}
      <tr>
        <td class="random-number" id="random-number-{{ i }}"></td>
        <td id="token-info-{{i}}"></td>
        <td class="slider-column">
          <div class="slider-container-2">
            <div id="slider{{ i }}" class="dynamic-slider noUi-target"></div>
          </div>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  <input type="hidden" name="m0" id="player_m0" value="0">
  <input type="hidden" name="m1" id="player_m1" value="0">
  <input type="hidden" name="m2" id="player_m2" value="0">
  <input type="hidden" name="m3" id="player_m3" value="0">
  <input type="hidden" name="m4" id="player_m4" value="0">
  <input type="hidden" name="m5" id="player_m5" value="0">
  <input type="hidden" name="m6" id="player_m6" value="0">
  <input type="hidden" name="m7" id="player_m7" value="0">
  <input type="hidden" name="m8" id="player_m8" value="0">
  <input type="hidden" name="m9" id="player_m9" value="0">
  <input type="hidden" name="m10" id="player_m10" value="0">
  <br>
  {{ next_button }}
</body>
{{ endblock }}

{{ block script }}
<script src="{% static 'global/nouislider.min.js' %}"></script>
<script>
document.addEventListener("DOMContentLoaded", function () {
    // Randomize the order of the remember list items
    const rememberList = document.getElementById("remember-list");
    const items = rememberList.querySelectorAll("li");
    const itemsArray = Array.from(items);
    itemsArray.sort(() => Math.random() - 0.5);
    rememberList.innerHTML = "";
    itemsArray.forEach(item => rememberList.appendChild(item));

    const treatment = "{{ treatment }}";
    const step = treatment === "PM" ? 3 : 4;
    const p = {{ p }};

    for (let i = 0; i < 11; i++) {
        let j = i * step;
        if (treatment === 'PM') {
            j += p;
        }
        document.getElementById(`random-number-${i}`).innerText = `${i}`;
        document.getElementById(`token-info-${i}`).innerText = `${j} Tokens`;

        let slider = document.getElementById(`slider${i}`);
        let sliderPercentage = ((10 + i) / 20) * 100;
        slider.style.width = `${sliderPercentage}%`;

        let initialTokens = 10; // Assuming 10 initial tokens in the individual account

        noUiSlider.create(slider, {
            start: [0],
            connect: false,
            animate: false,
            pips: {
                mode: "steps",
                density: 25
            },
            range: {
                min: -i, // Minimum is negative of the average tokens for that row
                max: 10
            },
            step: 1
        });

        // Each slider needs its own reference to an active pip, so we use an array or object to store them
        let activePips = []; // Initialize an array to keep track of active pips for each slider

        slider.noUiSlider.on("update", function (values, handle) {
            let sliderValue = parseInt(values[handle]);
            let remainingTokens = initialTokens - sliderValue + " Tokens";

            // Update the hidden input field with the slider value
            document.getElementById(`player_m${i}`).value = sliderValue;

            // Highlight the active pip logic
            if (activePips[i]) {
                activePips[i].classList.remove("active-pip");
            }

            var dataValue = Math.round(values[0]);
            activePips[i] = slider.querySelector('.noUi-value[data-value="' + dataValue + '"]');

            if (activePips[i]) {
                activePips[i].classList.add('active-pip');
            }

        });
    }
});
</script>
{{ endblock }}
