{{block styles}}
<link rel="stylesheet" type="text/css" href="{{ static 'global/global_styles.css' }}"/>
{{endblock}}

{{ block title }}
<div class="narrow-body">
    Practice Results
</div>
{{ endblock }}

{{ block content }}
<div class="narrow-body">
{{if treatment == 'M'}}
<div class="results-header">Random Draws</div>
<div><b>Yours:</b> {{p_ex}}</div>
<div><b>Average of Others:</b> {{p_others}}</div>
<br>
{{endif}}


<div class="results-header">Decisions:</div>

{{if treatment == 'M'}}
<div><b>Yours:</b> {{m}} Tokens</div>
<div><b>Average of Others</b> : {{m_others}} Tokens</div>
<br>
{{endif}}

{{if treatment == 'P'}}
<div><b>Your Decision:</b> {{p}} Tokens</div>
<div><b>Average Decision 1 of Others:</b> {{p_others}} Tokens</div>
<br>
{{endif}}

{{if treatment == 'PM'}}
<div><b>Your Decision 1:</b> {{p}} Tokens</div>
<div><b>Average Decision 1 of Others:</b> {{p_others}} Tokens</div>
<div><b>Your Decision 2:</b> {{m}} Tokens</div>
<div><b>Average Decision 2 of Others:</b> {{m_others}} Tokens</div>
<br>
{{endif}}

<div class="results-header">Practice Earnings:</div>
    {{if treatment == 'M'}}<div><b>Random Draw:</b> {{p_ex_payoff}} ECUs</div>{{endif}}
    <div><b>Individual Account:</b> {{personal_account}} ECUs (from {{personal_account}} Tokens)</div>
    <div><b>Group Account:</b> {{group_payoff}} ECUs (from {{group_account}} Tokens)</div>
        <br>
    <div style="font-size:16pt;"><b>Your Total Practice Payoff:</b> {{total_payoff}} ECUs</div>
<br>

    {{ next_button }}
</div>
{{ endblock }}


