{{block styles}}
<link rel="stylesheet" type="text/css" href="{{ static 'global/global_styles.css' }}"/>
{{endblock}}

{{ block title }}

<div class="narrow-body">
    Real Decisions

</div>
{{ endblock }}

{{ block content }}
<div class="narrow-body">
    <p class="notice-text">
        <b>The following Decision{{if treatment == 'PM'}}s{{endif}} count{{if treatment != 'PM'}}s{{endif}}
        towards your final payoff.</b>
    </p>

    <p class="notice-text">
        <b>You will only make {{if treatment == 'PM'}}each{{endif}}{{if treatment != 'PM'}}your{{endif}} Decision once</b>,
        so <b>think carefully</b> about your choices.
    </p>

    <br>


    <div class="next-button">{{ next_button }}</div>
</div>
{{ endblock }}
